# Gradle
.gradle/
build/
*/build/
/build

# Local configuration
local.properties
/local.properties
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

# Android Studio
captures/
.externalNativeBuild/

# Logs
*.log

# Keystore files
*.jks
*.keystore
/keystore.properties

# Misc
*.iml

# Media captures
/captures


